<p>register works!</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label>
    Nombre:
    <input type="text" formControlName="firstname" />
  </label>
  <br /><label>
    Apellido:
    <input type="text" formControlName="lastname" />
  </label>
  <br /><label>
    edad:
    <input type="number" formControlName="age" />
  </label>
  <br />
    <label>
        Email:
        <input type="text" formControlName="email" />
      </label>
      <br />
  
    <label>
      Password:
      <input type="password" formControlName="password" />
    </label>
    <br />
  
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>
  